html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #fdfbfb, #ebedee);
    margin: 0;
    padding: 0;
    text-align: center;
}

header#main-header {
    background-color: #282c34;
    color: white;
    padding: 30px;
    font-size: 2em;
    overflow: hidden;
}

.video-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

iframe {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
